<mat-sidenav-container>

  <section>
    <cdk-virtual-scroll-viewport itemSize="300" maxBufferPx="20000" style="height:650px">
      <ng-container *cdkVirtualFor="let item of myOtherList; TrackBy:trackByFunc">
        <div [attr.id]="item.id" style="height:350px;background-color:gray">
          <span>{{item.id}}</span><span>:</span>
          <span>{{item.value}}</span>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>

  </section>
  <mat-drawer mode="side" autoFocus="true" position="end" opened>
    <mat-nav-list dense>
      <mat-list-item *ngFor="let item of myOtherList">
        <a [ngClass]="getActiveStatus(item['id'])" (click)="moveToId(item.id)">{{item.id}}</a>
        <!-- [attr.href]="getHref(item.id)" <button mat-button (click)="moveToId(id)">{{id}}</button>-->
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
</mat-sidenav-container>


