.example-card {
  width: 90%;
  height: 90%;
  background-color:lightgreen;
  vertical-align:central;
  position:center
}

@import '@angular/material/prebuilt-themes/indigo-pink.css';

mat-card {
  /*padding: 15%;*/
  margin: 5%;
  /*border:dotted;*/
  height: 350px;
  background-color:white;
}
